<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Cyber Com</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>uz</string>
        <string>ru</string>
    </array>
    <key>CFBundleName</key>
    <string>cyber_com</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.884836591001-8pnl6lhlrhv2qitbq34jr07pe4je0hha</string>
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>https</string>
        <string>http</string>
        <string>tg</string>
        <string>instagram</string>
        <string>youtube</string>
        <string>mailto</string>
        <string>tel</string>
        <string>googlegmail</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSAppleMusicUsageDescription</key>
    <string>Cyber Com audio fayllarni yuborish uchun media kutubxonaga ruxsat so'raydi.</string>
    <key>NSCameraUsageDescription</key>
    <string>Cyber Com profil rasmi va xabarlarda rasm yuborish uchun kameraga ruxsat so'raydi.</string>
    <key>NSContactsUsageDescription</key>
    <string>Kontaktlaringizdan do'stlaringizni topish uchun ruxsat so'raydi.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Xaritada joylashuvingizni ulashish uchun ruxsat so'raydi.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Ovozli xabarlar yozish uchun mikrofonga ruxsat so'raydi.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Rasmlarni galereyaga saqlash uchun ruxsat so'raydi.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Galereyadan rasm tanlash uchun ruxsat so'raydi.</string>
    
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
</dict>
</plist>